<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header" id="admin-panel">
        </div>
        <div class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-2" style="padding: 0; padding-top: 15px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="nav-link active" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('USER')">
                    <a class="nav-link" href='#usrPanel'>User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 10px; height: 100vh">

                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#usTable" id="usersTable">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUs">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="usTable">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="users-table"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="newUs">
                            <div class="form-group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body text-center">
                                            <div class="form justify-content-center mx-auto col-5">
                                                <form id="newUser-form">
                                                    <div class="form-group">
                                                        <label for="username" class="font-weight-bold">First
                                                            name</label>
                                                        <input type="text" class="form-control" id="username"
                                                               name="name">
                                                        <br/>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="lastname" class="font-weight-bold">Last name</label>
                                                        <input type="text" class="form-control" id="lastname"
                                                               name="surname">
                                                        <br/>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="age" class="font-weight-bold">Age</label>
                                                        <input type="number" class="form-control" id="age" name="age">
                                                        <br/>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="email" class="font-weight-bold">Email</label>
                                                        <input type="text" class="form-control" id="email" name="email">
                                                        <br/>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="password" class="font-weight-bold">Password</label>
                                                        <input type="password" class="form-control" id="password"
                                                               name="password">
                                                        <br/>
                                                    </div>
                                                    <label class="font-weight-bold">Role</label>
                                                    <div>
                                                        <select class="form-control" name="roles" multiple
                                                                id="addRoles">
                                                            <option value="ADMIN">ADMIN</option>
                                                            <option value="USER">USER</option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-success">Add new user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" style="margin-left:100px; margin-right:100px;">

                <div class="form-group">
                    <label for="idEdit" class="font-weight-bold">ID</label>
                    <input type="text" class="form-control" id="idEdit" readonly="readonly">
                </div>

                <div class="form-group">
                    <label for="usernameEdit" class="font-weight-bold">First name</label>
                    <input type="text" class="form-control" id="usernameEdit" name="name">
                </div>

                <div class="form-group">
                    <label for="lastnameEdit" class="font-weight-bold">Last name</label>
                    <input type="text" class="form-control" id="lastnameEdit" name="surname">
                </div>

                <div class="form-group">
                    <label for="ageEdit" class="font-weight-bold">Age</label>
                    <input type="number" class="form-control" id="ageEdit" name="age">
                </div>

                <div class="form-group">
                    <label for="emailEdit" class="font-weight-bold">Email</label>
                    <input type="text" class="form-control" id="emailEdit" name="email">
                </div>

                <div class="form-group">
                    <label for="passwordEdit" class="font-weight-bold">Password</label>
                    <input type="password" class="form-control" id="passwordEdit" name="password">
                </div>
                <label class="font-weight-bold">Role</label>
                <div>
                    <select class="form-control" name="roles" multiple id="editRoles">
                        <option value="ADMIN">ADMIN</option>
                        <option value="USER">USER</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="updateButton">Close</button>
                <button type="submit" class="btn btn-primary" onclick="editUser()">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" style="margin-left:100px; margin-right:100px;">

                <div class="form-group">
                    <label for="idDelete" class="font-weight-bold">ID</label>
                    <input type="text" class="form-control" id="idDelete" readonly="readonly">
                </div>

                <div class="form-group">
                    <label for="firstnameDelete" class="font-weight-bold">First name</label>
                    <input type="text" class="form-control" id="firstnameDelete" readonly="readonly">
                </div>

                <div class="form-group">
                    <label for="lastnameDelete" class="font-weight-bold">Last name</label>
                    <input type="text" class="form-control" id="lastnameDelete" readonly="readonly">
                </div>

                <div class="form-group">
                    <label for="ageDelete" class="font-weight-bold">Age</label>
                    <input type="number" class="form-control" id="ageDelete" readonly="readonly">
                </div>

                <div class="form-group">
                    <label for="emailDelete" class="font-weight-bold">Email</label>
                    <input type="text" class="form-control" id="emailDelete" readonly="readonly">
                </div>

                <label class="font-weight-bold">Role</label>
                <div>
                    <select class="form-control" name="roles" id="deleteRoles" multiple required size="2" disabled>
                        <option value="ADMIN" id="delete-admin">ADMIN</option>
                        <option value="USER" id="delete-user">USER</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteButton">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteUser()">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" sec:authorize="hasAnyAuthority('USER')">
    <div class="row">
        <div class="col-2" style="padding: 0; padding-top: 15px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="nav-link" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('USER')">
                    <a class="nav-link active" href='#usrPanel'>User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">
                <div class="tab-pane fade show active" id="user">
                    <div class="tab-content">
                        <div class="col-10 bg-light" id="usrPanel">
                            <div class="tab-content" style="padding-top: 15px; height: 100vh">
                                <div class="tab-pane fade show active">
                                    <h2>User information-page</h2>
                                    <div class="card">
                                        <h5 div class="card-header">
                                            About user
                                        </h5>
                                        <div class="card-body text-center">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                </tr>
                                                </thead>
                                                <tbody id="data-admin">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="admin.js"></script>

</body>
</html>